<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.CabinetMapper">

    <!--  -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Cabinet">
        <id column="id" property="id" />
        <result column="cabinet_code" property="cabinetCode" />
        <result column="door_code" property="doorCode" />
        <result column="box_code" property="boxCode" />
        <result column="locker" property="locker" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="version" property="version" />
    </resultMap>

    <!--  -->
    <sql id="Base_Column_List">
        id, cabinet_code, door_code, box_code, locker, status, create_time, version
    </sql>

	<select id="list" resultType="map" parameterType="com.baomidou.mybatisplus.plugins.Page">
		select id, cabinet_code as cabinetCode, door_code as doorCode, box_code as boxCode, 
		case when locker = 1 then '已锁'  when locker = 0 then '未锁'  end locker , 
		case when status = 1 then '工具在'  when status = 0 then '工具不在'  end status, create_time as createTime, version from cabinet where 1 = 1 
		<if test="cabinetCode != null and cabinetCode !=''">
			and cabinet_code = #{cabinetCode}
		</if> order by cabinet_code asc, id asc
	</select>
	
	<select id="cabinetCodeList" resultType="map">
		select distinct cabinet_code as cabinetCode from cabinet order by cabinet_code
	</select>
</mapper>
